{{>header}}
{{>navbar}}
<section class="container my-3">
    <h1 class="text-center">All customers</h1>
    <div class="row">
        {{#each customers}}
        <div class="col-4">
            <div class="m-2 p-2 border border-primary border-2">
                <h3>{{this.title}}</h3>
                <p>{{this.body}}</p>
                <a href="/allCustomers/{{@index}}" class="btn btn-primary">more</a>
            </div>
        </div>
        {{else}}
        <div class="alert alert-danger">
            No Customers Found
        </div>
        {{/each}}
    </div>



{{!-- <section class="container my-3">
    <h1 class="text-center">All tasks</h1>
    <div class="row">
    {{#if tasks.length}}
        {{#each tasks}}
        <div class="col-4">
            <div class="m-2 p-2 border border-primary border-2">
                <h3>{{this.title}}</h3>
                <p>{{this.body}}</p>
                <a href="/single/{{@index}}" class="btn btn-primary">more</a>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div class="alert alert-danger">
            No Tasks Found
        </div>
        {{/if}}
    </div> 

</section> --}}
{{>footer}}